.landing-mid {
  background-image: url("https://pbs.twimg.com/media/FCAHWMpVQAUDVQC?format=jpg&name=4096x4096");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2560px 1440px;
  padding-bottom: 1000px;
  color: #A291FB;
}